@page "/search-by-name"
@page "/search-by-name/{name}"
@inject HttpClient Http
@using System.Text.Json
@using System.Text.Json.Serialization
@inject NavigationManager NavigationManager

<PageTitle>Search universities</PageTitle>

<div class="card bg-light text-dark shadow-lg">
    <div class="card-header">
        <h3>Universities by name matching: @Name</h3>        
    </div>
    <div class="card-body">
        <p style="display: @InvalidSearch">No results found</p>
        @if (allUnis == null || InvalidSearch == "")
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <table style="display: @ValidSearch" class="table text-dark">
                <thead>
                    <tr>
                        <th class="text-dark">Country</th>
                        <th class="text-dark">Name</th>
                        <th class="text-dark">State/Province</th>
                        <th class="text-dark">URL</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (University uni in allUnis)
                    {
                        <tr>
                            <th>@uni.country</th>
                            <th>@uni.name</th>
                            <th>@uni.stateprovince</th>
                            <th><a href="#">@uni.domains[0]</a></th>
                        </tr>
                    }
                    
                </tbody>
            </table>
            <!--
            <QuickGrid ItemsProvider="@allUnisProvider" Virtualize="true">
                <PropertyColumn Property="@(p => p.alpha_two_code)" Sortable="true" />
            </QuickGrid>
            -->
        }
    </div>
</div>

@code {
    [Parameter]
    public String? Name { get; set; }

    public University[]? allUnis;
    String? InvalidSearch { get; set; } = "None";
    String? ValidSearch { get; set; } = "None";
    HttpClient http;
    HttpResponseMessage resMessage;
    HttpRequestMessage reqMessage;

    int? numResults;

    protected override async Task OnInitializedAsync()
    {
        if (String.IsNullOrWhiteSpace(Name))
        {
            Console.WriteLine("No Parameter");
            InvalidSearch = "";
        }
        else
        {
            ValidSearch = "";
            http = new HttpClient();
            reqMessage = new HttpRequestMessage
            {
                Method = HttpMethod.Get,
                RequestUri = new Uri($"http://universities.hipolabs.com/search?name={Name}")
            };
            resMessage = await http.SendAsync(reqMessage);
            Console.WriteLine(await resMessage.Content.ReadAsStringAsync());

            allUnis = JsonSerializer.Deserialize<University[]>(await resMessage.Content.ReadAsStringAsync());
            try {
                Console.WriteLine(allUnis[0].name);

                numResults = allUnis.Count();
            }
            catch
            {
                InvalidSearch = "";
            }
        }
    }

    public class University
    {
        public string? alpha_two_code { get; set; }
        public string? name { get; set; }
        public string? country { get; set; }
        public List<string>? web_pages { get; set; }
        public string? stateprovince { get; set; }
        public List<string>? domains { get; set; }
    }
}